@import "tailwindcss";

:root {
  --color-bg: #1E1E1E;
  --color-left-menu: #2D2D2D;
  --color-title: #373737;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #787878;

  font-family: Cabin;
}
